@import "styles/config";



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.html {
  font-size: 10px;
}
.wrapper {
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  margin: 50px auto;
  max-width: 500px;
  padding: 50px;
  background: #cca5b9;

  .input-row {
    width: 300px;
    max-width: 500px;
    margin: 20px auto;

    input, select {
      width: 300px;
    }
  }
}
label {
  text-align: left;
  margin-bottom: 10px;
}